@import "tailwindcss";


@theme {
    --breakpoint-4xs: 360px;
    --breakpoint-3xs: 375px;
    --breakpoint-2xs: 390px;
    --breakpoint-xs: 428px;
    --breakpoint-mobile: 500px;
    --breakpoint-sm: 640px;
    --breakpoint-md: 768px;
    --breakpoint-lmd: 880px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1152px;
    --breakpoint-2xl: 1280px;
    --breakpoint-3xl: 1366px;
    --breakpoint-4xl: 1440px;
    --breakpoint-5xl: 1536px;
    --breakpoint-6xl: 1600px;
    --breakpoint-7xl: 1750px;
    --breakpoint-8xl: 1920px;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --green: radial-gradient(50% 50% at 50% 50%, #00883e 0%, #002210 100%);
  --text-color: black;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-Aeonik: 'Aeonik-Pro-Light';
  --font-Argot: 'Argot-Bold';
  --font-ArgotNarrow: 'Argot-Narrow-Bold';
  --shadow-box: inset 0 2px 3px rgba(0, 0, 0, 0.25); 

  
}
@font-face {
  font-family: 'Aeonik-Pro-Light';
  src: url('/fonts/Aeonik-Pro-Light.woff') format('truetype');
}
@font-face {
  font-family: 'Argot-Bold';
  src: url('/fonts/Argot-Bold.otf') format('truetype');
}
@font-face {
  font-family: 'Argot-Narrow-Bold';
  src: url('/fonts/Argot-Narrow-Bold.otf') format('truetype');
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
    --green: radial-gradient(50% 50% at 50% 50%, #00883e 0%, #002210 100%);
    
  }
}

body {
  background: var(--background);
  color: var(--text-color);

  font-family: Arial, Helvetica, sans-serif;
}
header{
  background: var(--green);
}
.hero{
  width: 100%;
  /* height: 110vh; */
  background: var(--green);
}
.marquee-container {
  width: 100%;
  /* overflow: hidden; */
  animation: slider 20s linear infinite;
}
@keyframes slider {
  
  0% {
      transform: translate(0%);
  }
  
  100% {
      transform: translate(-80%);
  }
}
.logo-color{
  filter:
      invert(43%) sepia(99%) saturate(2274%) hue-rotate(2deg) brightness(103%) contrast(105%)
}
@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 30s linear infinite;
}

/* Jab user card par hover karega toh animation pause ho jayegi */
.animate-marquee:hover {
  animation-play-state: paused;
}